@inject LandLord.BlazorApp.Services.CardConverterService cardConverter
@inject LandLord.BlazorApp.Services.SignalRService signalRService

<li class="me">

    <div class='@(this.IsMyTurn ? "isCurrentTurn" : " ")'>
        @{ 
            var player = this.Wrapper.Player;
        }
        @if (player != null)
        {
            <div>
                <span class='@this.BadgeCssClass()'></span>
                <span>
                    @(string.IsNullOrEmpty(player.Name) ? player.Name : "None" )
                </span>
            </div>
        }

        
            <ul class="cards">
                @foreach (var item in this.Wrapper.Cards.Select((card, idx) => (card, idx)))
                {
                    <li>
                        <div class="@(this.cardConverter.PlayerCardToStyle(item.card))">
                            <input type="checkbox" name="selectedCards"
                                   @onchange="@(e => { this.SelectCard(item.idx, Convert.ToBoolean(e.Value)); })" 
                                   checked="@Selections[item.idx]"
                                   disabled="@(!IsMyTurn)" />
                            @(item.card.PrettyString())
                        </div>
                    </li>
                }
            </ul>
            <div>
                <div>
                    <button @onclick="PlayCards" disabled="@(!this.IsMyTurn)">
                        Play
                    </button>
                </div>
                <div>
                    <button @onclick="PassCards" disabled="@(!this.IsMyTurn)">
                        Pass
                    </button>
                </div>
            </div>
        
    </div>
</li>

@code{
    [CascadingParameter(Name="GameRoomId")]
    public Guid GameRoomId { get; set; }

    [Parameter]
    public PlayerAndCardsWrapper Wrapper{ get; set; }

    [Parameter]
    public bool IsLandLord { get; set; }

    [Parameter]
    public bool IsMyTurn { get; set; }

    [Parameter]
    public bool CanOperate { get; set; }



    private bool[] Selections { get; set; }


    protected override void OnParametersSet()
    {
        var cardsLength = this.Wrapper.Cards.Count;
        this.Selections = new bool[cardsLength].Select(i => false).ToArray();
    }
    private string BadgeCssClass() => this.IsLandLord ? "landlord-badge" : "peasant-badge";


    private void SelectCard(int i , bool selected)
    {
        this.Selections[i] = selected;
    }

    private async Task PlayCards()
    {
        var cards = this.Wrapper.Cards.Where((c, i) => this.Selections[i]).Select(c => (PlayingCard)c).ToList();
        await this.signalRService.PlayCards(GameRoomId,cards);
    }
    private async Task PassCards()
    {
         await this.signalRService.PassCards(GameRoomId);
    }
}